{{#each this}}
  <div class="card mb-3">
    <div class="card-body">
      <h2 class="card-title h2">
        <a href="/order/{{id}}">
          {{id}}
        </a>
      </h2>
      <div>
        {{#if payment_date}}
          <span class="font-weight-bold">
            Purchased {{fromNow payment_date}}
          </span>
          <span class="text-muted">
            [{{formatDatetime payment_date}}]
          </span>
        {{else}}
          <span class="text-danger">
            Order has not been paid for!
          </span>
        {{/if}}
      </div>
      <div>
        {{#if ship_date}}
          <span class="font-weight-bold">
            Shipped {{fromNow ship_date}}
          </span>
          <span class="text-muted">
            [{{formatDatetime ship_date}}]
          </span>
        {{else}}
          <span class="text-danger">
            Order has not been shipped!
          </span>
        {{/if}}
      </div>
    </div>
  </div>
{{/each}}